body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f6f6f6;

}

a:hover{
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popper-style {
  margin-top: 25px;
}
  
.main-app {
    width: 100%;
    min-height: 70vh;
    /* border: red 1px solid; */
    margin-top: 40px;
    margin-bottom: 200px;
}

.paper-div {
    padding: 10px;
}

#hover-component-off {
  display: none;
}

#hover-component-on {
  display: block;
  position: absolute;
  border: 2px solid #df0164;
  border-radius: 7px;
  background-color: white;
  margin-top: 20px;
  width: fit-content;
  height: fit-content;
}

.list-pr {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.list-pr > li{
  background-color: #3f51b5;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.buttonhover {
  padding: 10px;
  font-weight: bold;
  color: #f6f6f6;
  text-align: center;
}



.search-bar {
  background-color: #f6f6f6;
}